<appSettings>
    <add key="ida:AppID" value="5a2e6567-13b1-4f29-b9fe-5cb9a9073100" />
    <add key="ida:AppSecret" value="yUD7Q~OG29ZHiqcetgX4~lE2VI0CV-.5_ylQR" />
    <add key="ida:RedirectUri" value="https://localhost:44319/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>